table {
    width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}*/

.mat-column-NOMBRE_TAREA {
  width: 400px;
  max-width: 400px;
  /*border-right: 1px solid black;*/
  padding-right: 24px;
  text-align: center;
}