<div class="container">
    <form class="container-form" [formGroup]="formNewUser">

        <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput type="text" formControlName="nombre_y_apellido" #nombre_y_apellido autofocus>
        </mat-form-field>

        <div class="form-row">
            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="usuario" #usuario autofocus>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" #password>
            </mat-form-field>

        </div>

        <div class="form-row">
            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" #rol name="rol"
                    [(value)]="selectedRol">
                    @for (rol of roles; track roles) {
                    <mat-option [value]="rol.nombre_rol">{{rol.nombre_rol}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 40%;" floatLabel="auto">
                <mat-label>Imagen</mat-label>
                <mat-select formControlName="imagen" #imagen name="imagen"
                    [(value)]="selectedImagen">
                    @for (avatar of avatares; track avatares) {
                    <mat-option [value]="avatar">{{avatar}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            
            <div class="avatar">
                @if (selectedImagen) {
                    <img src="../../../../assets/img/{{selectedImagen}}">
                }@else {
                    <img src="../../../../assets/img/none.png">
                }
            </div>
            

        </div>

        <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" #email autofocus>
        </mat-form-field>

        <button mat-fab extended color="primary" (click)="createNewUser()" [disabled]="formNewUser.invalid">
            <mat-icon>input</mat-icon>
            Crear
        </button>
    </form>

    <div class="image">
        <img src="../../../../assets/img/web-1738168_1920.jpg">
    </div>

</div>