.container {
    width: 100ih;
    height: calc(100vh - 203px);
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    //width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 50%;
}

.container-data {
    height: calc(100vh - 203px);
    //margin: 0px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    text-align: center;
    --mat-sort-arrow-color: white;
    width: 50%;
    padding-left: 20px;
}

.container-form-data {
    margin-top: 15px;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100ih;
}

.formEdit {
    display: flex;
    width: 50%;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.container form div mat-form-field+mat-form-field {
    margin-left: 10px;
}

.container form div mat-form-field+button {
    margin-left: 10px;
}

.slideToggle {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.slideToggle-margin {
    margin: 10px;
}

.table-estilos {
    margin-top: 20px;

    th {
        background-color: rgb(209, 101, 101);
        color: white;
    }

    tr {
        height: 30px;
    }

    tr:hover {
        background: whitesmoke;
        cursor: pointer;
    }
}

.mat-column-cliente {
    width: 8%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-producto {
    width: 8%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-nombre_tarea {
    width: 50%;
    max-width: 600px;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: left;
}

.mat-column-cantidad {
    width: 10%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-unidad {
    width: 8%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-fecha {
    width: 16%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.avatar {
    display: flex;
    margin-left: 14px;
    width: 55px;
    height: 55px;
}

.button-row {
    display: table-cell;
    max-width: 100%;
}

.button-row .mat-mdc-button-base {
    margin: 0px 0px 0px 0;
}

.form-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 200px;
}