.container {
  display: flex;
  width: 100ih;
  height: calc(100vh - 115px);
  margin: 0px auto;
  overflow:hidden;
  flex-direction: column;
  text-align: center;
  border: 3px solid rgb(209, 101, 101);
  border-radius: 20px;
  --mat-sort-arrow-color: white;
}

.table {
  width: 100%;
}

.spinner-container{
  display: flex;
  justify-content: center;
}

.form-flex-container mat-form-field + mat-form-field {
  margin-left: 20px;
}

/*********************************************/
.button-row {
  display: table-cell;
  max-width: 600px;
  margin-left: 20px;
}

.button-row .mat-mdc-button-base {
  margin: 0px 0px 0px 0;
}

.form-flex-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
/*********************************************/

.table-estilos {
  margin-top: 20px;

  th {
      background-color: rgb(209, 101, 101);
      color: white;
  }

  tr {
      height: 30px;
  }

  tr:hover {
      background: whitesmoke;
      cursor: pointer;
  }
}

.mat-column-cliente{
  width: 8%;
  max-width: 10%;
  border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-imagenes{
  width: 10%;
  max-width: 10%;
  border-right: 1px solid black;
  padding-right: 24px;
  text-align: center;
}

.mat-column-hojas{
  width: 8%;
  max-width: 10%;
  padding-right: 24px;
  text-align: center;
}