<div class="container">
    <mat-tab-group>
        
        <mat-tab label="Alta">
            <app-newArticles></app-newArticles>
        </mat-tab>
        
        <mat-tab label="Listado">
            <app-listArticles></app-listArticles>
        </mat-tab>
        
        <mat-tab label="Editar">
            <app-editArticles></app-editArticles>
        </mat-tab>

        <mat-tab label="Borrar">
            <app-deleteArticles></app-deleteArticles>
        </mat-tab>
        
      </mat-tab-group>
</div>
