<div class="container">
        @if (isLoadingResults || isRateLimitReached) {
        <div class="spinner-container">
            @if (isLoadingResults) {
            <mat-spinner></mat-spinner>
            }
            @if (isRateLimitReached) {
            <div class="spinner-container">
                Se alcanzó el límite de velocidad de la API. Se restablecerá en un minuto.
            </div>
            }
        </div>
        }

        <div class="table-estilos">
            <table mat-table [dataSource]="data" matSort matSortActive="fecha_creacion" matSortDisableClear
                matSortDirection="desc">

                <!-- NYA Column -->
                <ng-container matColumnDef="nombre_proveedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PROVEEDOR </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre_proveedor}} </td>
                </ng-container>

                <!-- Fecha Creacion Column -->
                <ng-container matColumnDef="fecha_creacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA CREACION </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha_creacion}} </td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                    <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator class="" [length]="totalRecords" [pageSize]="pageLength"
                [pageSizeOptions]="[5, 10, 19]" aria-label="Select page of users"></mat-paginator>
        </div>
</div>