:host * {
    transition: all 500ms ease-in-out;
}

.sidenav-header{
    padding-top: 24px;
    text-align: center;

    >img{
        border-radius: 100%;
        object-fit: cover;
    }

    .header-text{
        height: 3rem;
        >h2{
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        >p{
            margin: 0;
            font-size: 0.8rem;
        }
    }
}

.hide-header-text{
    opacity: 0;
    height: 0px !important;
}

.end{
    position: absolute;
    top: calc(100vh - 64px - 56px);;
}

.menu-item {
    border-left: 5px solid;
    border-left-color: rgba(0,0,0,0);
}