<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>

        <mat-nav-list (click)="sidenav.close()">

            <a mat-list-item routerLink="/home/task-list">
                <mat-icon>list</mat-icon>
                <span>Listado de trabajos</span>
            </a>

            <a mat-list-item routerLink="/home/dashboard">
                <mat-icon>assessment</mat-icon>
                <span>Dashboard</span>
            </a>

            <a mat-list-item  routerLink="/home/administracion">
                <mat-icon>settings</mat-icon>
                <span>Administracion</span>
            </a>

            <a mat-list-item (click)="logout()">
                <mat-icon>account_circle</mat-icon>
                <span>Logout</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">

            <button mat-fab color="primary" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>

        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>