<div class="container">
    <form class="container-form" [formGroup]="formNewArticle">

        <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>Descripción Artículo</mat-label>
            <input matInput type="text" formControlName="descripcion" #descripcion autofocus>
        </mat-form-field>

        <div class="form-row">
            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Código Artículo</mat-label>
                <input matInput type="text" formControlName="codigo" #codigo autofocus>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Proveedores</mat-label>
                <mat-select formControlName="proveedores" #proveedores name="proveedores"
                    [(value)]="selectedProveedor" multiple>
                    @for (proveedor of suppliers; track suppliers) {
                    <mat-option [value]="proveedor.nombre_proveedor">{{proveedor.nombre_proveedor}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

        </div>

        <div class="form-row">
            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Unidad</mat-label>
                <mat-select formControlName="unidad" #unidad name="unidad"
                    [(value)]="selectedUnidad">
                    @for (unidad of unidades; track unidades) {
                    <mat-option [value]="unidad.unidad">{{unidad.unidad}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%;" floatLabel="auto">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad" #cantidad autofocus>
            </mat-form-field>

        </div>

        <button mat-fab extended color="primary" (click)="createNewArticle()" [disabled]="formNewArticle.invalid">
            <mat-icon>input</mat-icon>
            Crear
        </button>
    </form>

    <div class="image">
        <img src="../../../../assets/img/news-5238316_1920.jpg">
    </div>

</div>